body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #434455;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}

.container {
  max-width: 1158px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
/* Header */
.top {
  border-bottom: 1px solid #e7e9fc;
}
.top-container {
  display: flex;
  align-items: center;
}
.top-navigate {
  display: flex;
  align-items: center;
  flex-direction: row;
}
/*Logo*/
.top-navigate-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
  margin-right: 76px;
}
.top-logo-word {
  color: #2e2f42;
}
/*Navigation*/
.top-navigate-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navigation-link {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}

/*Contact*/
.contact {
  font-style: normal;
  margin-left: auto;
}
.contact-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contact-list-link {
  padding: 24px 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-list-link:hover,
.contact-list-link:focus {
  color: #404bbf;
}

/* Main*/

/* First section Article*/
.article {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.article-title {
  color: #ffffff;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.article-interactive {
  display: block;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  padding: 16px 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}
.article-interactive:hover,
.article-interactive:focus {
  background-color: #404bbf;
}

/*Second section Benefits*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits {
  padding: 120px 0;
}
.benefits-list {
  display: flex;
  gap: 24px;
}
.benefits-list-item {
  flex-basis: calc((100% - 72px) / 4);
}

.benefits-list-title {
  font-size: 20px;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.benefits-list-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Third section Team*/
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  text-transform: capitalize;
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}
.team-cards {
  display: flex;
  gap: 24px;
}
.team-cards-item {
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-item-person {
  padding: 32px 0;
}
.team-person-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-person-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/* Forth section Portfolio*/
.portfolio {
  padding: 120px 0;
}

.portfolio-title {
  text-transform: capitalize;
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-cards-item {
  flex-basis: calc((100% - 48px) / 3);
}
.portfolio-app-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-app-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-cards-app {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

/*Footer*/
.bottom {
  background-color: #2e2f42;
  padding: 100px 0;
}

.bottom-logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.bottom-logo-word {
  color: #f4f4fd;
}

.bottom-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
